
{% extends 'main/index.html' %}
{% block content %}
<html> 
    {% if user.is_authenticated %}
    <h4 style="text-align:right; margin-right:50px;position:absolute; left:50px; top:125px; color: darkslategray;">Hi {{user.username}}</h4> 
    {% endif %}

    <h5 style="text-align:right; margin-right:50px;position:absolute; right:50px; top:125px;" class="btn btn-outline-dark btn-lg" onclick="location.href = '/logout'">logout</h5> 
    <body>
        <button type="button" class="btn btn-outline-dark btn-lg" onclick="location.href = '/hospital1/'"><b>Register Here</b></button>
        <button type="button" class="btn btn-outline-dark btn-lg" onclick="location.href = '/hospital2/'"><b>Add Service Details</b></button>
    </body>
</html> 
{% endblock %}
